@viewport {
    width: device-width ;
    zoom: 1.0 ;
  } 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
    background-color: #e5debe;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#container {
    display: inline-flex;
    background-color: white;
    max-width: 600px;
    max-height: 600px;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    justify-content: baseline;
    align-items: baseline;
   
}

#etchDiv {
    background-color: purple;
    width: 20px;
    height: 20px;
    display: flex;
    padding: none;
    margin: none;
    border: 1px solid black;
}

#button {
    min-width: 100px;
    min-height: 50px;
}