@viewport {
    width: device-width ;
    zoom: 1.0 ;
  } 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
    background-color: #e5debe;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#container {
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 600px;
    width: 600px;
    background-color: gray;
}

.etchDiv {
    background-color: white;
    border: 1px solid black;
}

button {
    min-width: 100px;
    min-height: 50px;
    background-color: royalblue;
    outline: none;
    margin-top: 40px;
}